<div>
    <h2>Gerenciamento de categorias</h2>

    <ul class="menu">
        <li (click)="novoCategoria()">
            Nova categoria
        </li>
    </ul>

    <ul class = "lista-clientes">
        <li *ngFor="let categoria of categoria">
             <span class ="botao-editar" (click)="selecionarCategoria (categoria)">{{categoria.id_categoria}} - {{categoria.nome_categoria}} </span>
             <span class="botao-excluir" (click)="excluir(categoria)">x</span>
        </li>
    </ul>

    <div *ngIf="categoriaEdicao != undefined">
        <h3>Inserir/Editar</h3>
        <input placeholder="Nome" [(ngModel)]="categoriaEdicao.nome_categoria"> <br>
        <button (click)="salvar()"> Salvar </button>
        <button (click)="cancelar()"> Cancelar</button>
    </div>

</div>