.botao-excluir{
    float: right;
    background-color: red;
    padding: 5px;
    margin-top: -32px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    text-align: center;
}

.botao-excluir:hover{
    transition: 1s;
    background-color:indigo;
}

.botao-editar{
    display: block;
    width: calc(100% - 30px);
    height: 35px;
    line-height: 35px;
    margin-left: 10px;
}

.lista-clientes li{
    background-color:green;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    border-radius: 25px;
    box-shadow: black;
    cursor: pointer;
    transition: background-color 1s;
}

