<div>
    <h2>Gerenciamento de Reservas</h2>

    <ul class="menu">
        <li (click)="novaReserva()">
            Nova Reserva
        </li>
    </ul>


    <ul class = "lista-clientes">
        <li *ngFor="let reserva of reservas">
             <span class ="botao-editar" (click)="selecionarReserva(reserva)">{{reserva.preco_reserva}} - {{reserva.data_reserva}} - {{reserva.data_devolucao}} - {{reserva.id_usuario}} - {{reserva.id_item}}</span>
             <span class="botao-excluir" (click)="excluir(reserva)">x</span>
        </li>
    </ul>


    
    <div *ngIf="reservasEdicao">
        <h3>Inserir/Editar</h3>
        <input placeholder="Preço (1 dia):" [(ngModel)]="reservasEdicao.preco_reserva"> <br>
        <input placeholder="Data de reserva:" [(ngModel)]="reservasEdicao.data_reserva"> <br>
        <input placeholder="Data de devolução" [(ngModel)]="reservasEdicao.data_devolucao"> <br>
        <!-- <input placeholder="Disponível" [(ngModel)]="reservaEdicao.disponivel"> <br>
        <input placeholder="Foto" [(ngModel)]="reservaEdicao.foto"> <br> -->

        <select [(ngModel)]="clienteEdicao" (ngModelChange)="selecionaCliente($event)" [(ngModel)]="reservasEdicao.id_usuario"> <br>
            <option *ngFor="let cliente of clientes" [value]="cliente.id_usuario">
                {{cliente.nome_usuario}}
            </option>
        </select> <br> 
    
        <select [(ngModel)]="itemEdicao" (ngModelChange)="selecionarItem($event)" [(ngModel)]="reservasEdicao.id_item"> <br>
            <option *ngFor="let item of items" [value]="item.id_categoria">
                {{item.nome_item}}
            </option>
        </select> <br>
       
        <button (click)="salvar()"> Salvar </button>
        <button (click)="cancelar()"> Cancelar</button>
    </div>
</div>
